<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="0">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%logger{1}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="REDIS" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="no.nb.nna.veidemann.frontier" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="no.nb.nna.veidemann.frontier.testutil" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="no.nb.nna.veidemann.frontier.testutil.CrawlRunner" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
